fieldset.tamanho_46p_250px{
    margin:5px;
    width: 46%;
    height: 250px;
    display: block;
    padding-left: 5px;
    float:left;
}

fieldset.tamanho_46p_250px_block_center{
    margin-left:25%;
    width: 46%;
    height: 250px;
    display: block;
    padding-left: 5px;
}
div.rolagem_220px{
    height: 220px;
    overflow: auto;
}

form{
    //border:1px solid #9C9C9C;
    margin:auto;
}
form label{
    // background-color: #E0FFFF;
    // width: 150px;
    // float:left;
    // height: 30px;
    text-align: left;
    border: 1px;
    padding: 1px;
    font-size: small;
    display: block;
}
form input[type=text]{
    //border:1px solid #9C9C9C;
    width: 90%;
    padding: 1px;
}
form input[type=textarea]{
    //border:1px solid #9C9C9C;
    padding: 1px;
}
form input[type=password]{
    //border:1px solid #9C9C9C;
    width: 90%;
    padding: 1px;
}
form input[type=text]:focus, form input[type=password]:focus{
    border: 2px solid #0cf;
}
form input[type=submit]{
    border: 1px solid #9C9C9C;
    padding: 2px;
    cursor: pointer;
    display: block;
    margin: 1px;
}
#r{
    color: red; 
    font-size: 20px;
}